<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1011540629150-2q50noosi1n2jlv5135gsaset6l90lnn</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1011540629150-2q50noosi1n2jlv5135gsaset6l90lnn.apps.googleusercontent.com</string>
</dict>
</plist>
